 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Seeders/dasmesh_610_1.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Dasmesh 610-Happy Seeder</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 1,55,000 - ₹ 1,95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Dasmesh</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Happy Seeder</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Happy Seeder</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Seeding & Plantation</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>50-60 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Happy Seeder </th>
            <td>Dasmesh-610</td>
          </tr>
          <tr>
            <th scope="row">Width </th>
            <td>2550 mm</td>
          </tr>
          <tr>
            <th scope="row">Height </th>
            <td>1370 mm</td>
          </tr>
          <tr>
            <th scope="row">Length </th>
            <td>1510 mm</td>
          </tr>
          <tr>
            <th scope="row">Working Width </th>
            <td>2230mm</td>
          </tr>
          <tr>
            <th scope="row">HP Required </th>
            <td>50 - 60 HP</td>
          </tr>
          <tr>
            <th scope="row">No. of Rows </th>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">PTO Speed(rpm)</th>
            <td>540</td>
          </tr>
          <tr>
            <th scope="row">Hitch Category </th>
            <td>Cat-II</td>
          </tr>
          <tr>
            <th scope="row">Gear Box </th>
            <td>Single Speed (540 rpm PTO)</td>
          </tr>
          <tr>
            <th scope="row">Seed Mechanism </th>
            <td>Aluminium Type Fluted Roller </td>
          </tr>
          <tr>
            <th scope="row">Fertilizer Mechanism  </th>
            <td>Aluminium Type Fluted Roller </td>
          </tr>
          <tr>
            <th scope="row">No. of Depth Control Wheel </th>
            <td>2 (Adjustable) </td>
          </tr>
          <tr>
            <th scope="row">Separate Cover for seed & fertilizer Box </th>
            <td>Available</td>
          </tr>
          

        </tbody>
    </table>
</div>



 

 


  
  

</div>
</div>
{% endblock %}