 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Seeders/roto-seed-drill.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Roto Seed Drill</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 38,000 - ₹ 1,05,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Roto Seed Drill</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Roto Seed Drill</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Seeding & Plantation</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>40-70 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>FKRTMG-175 SF</td>
            <td>FKRTMG-200 SF</td>
            <td>FKRTMG-225 SF</td>
          </tr>
          <tr>
            <th scope="row">Frame Sheet</th>
            <td colspan="3" >5 mm</td>
            
          </tr>
          <tr>
            <th scope="row">Frame Pipe</th>
            <td colspan="3" >60/2.4" x 60/2.4" x 5 mm</td>
            
          </tr>
          <tr>
            <th scope="row">3 Point Linkage</th>
            <td colspan="3" >Cat-II</td>
            
          </tr>
          <tr>
            <th scope="row">No. of Blades</th>
            <td>42</td>
            <td>48</td>
            <td>54</td>
          </tr>
          <tr>
            <th scope="row">Working Width (mm / inch)</th>
            <td>1750/69"</td>
            <td>2000/79"</td>
            <td>2250/89"</td>
          </tr>
          <tr>
            <th scope="row">Length (mm / inch)</th>
            <td>2245/88"</td>
            <td>2470/97"</td>
            <td>2695/106"</td>
          </tr>
          <tr>
            <th scope="row">Width (mm / inch)</th>
            <td colspan="3" >1000/39"</td>
            
          </tr>
          <tr>
            <th scope="row">Height (mm / inch)</th>
            <td colspan="3" >1380/54'</td>
            
          </tr>
          <tr>
            <th scope="row">No. of Seed & Fertilizer Distribution Pipe</th>
            <td>18</td>
            <td>22</td>
            <td>26</td>
            
          </tr>
          <tr>
            <th scope="row">Seed Tank (Capacity kg / lbs)</th>
            <td>45/99</td>
            <td>57/126</td>
            <td>69/152</td>
            
          </tr>
          <tr>
            <th scope="row">Fertilizer Tank (Capacity kg / lbs)</th>
             <td>59/130</td>
            <td>74/163</td>
            <td>89/196</td>
            
            
          </tr>
          <tr>
            <th scope="row">Weight (kg / lbs Approx)</th>
            <td>580/1279</td>
            <td>620/1367</td>
            <td>700/1543</td>
            
          </tr>
           <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>45-50</td>
            <td>50-65</td>
            <td>65-70</td>
          </tr>
          

          
        </tbody>
    </table>
</div>

  
  

</div>
</div>
{% endblock %}