 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Seeders/seed-cum-fertilizer-drill-multi-crop-rotor-base.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Khedut Seed Cum Fertilizer Drill (Multi Crop - Rotor Base)</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 41,000 - ₹ 1,15,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Khedut</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Seed Cum Fertilizer Drill (Multi Crop - Rotor Base)</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Seed Drill</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Seeding & Plantation</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>35-55 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>KASCFDR 09</td>
            <td>KASCFDR 11</td>
            <td>KASCFDR 13</td>
          </tr>
          <tr>
            <th scope="row">Frame (mm)</th>
            <td colspan="3" >60 x 60 x 5 Tubular Frame</td>
            
          </tr>
          <tr>
            <th scope="row">Seed & Fertilizer Box Capacity (Kg)</th>
            <td colspan="3" >70</td>
            
          </tr>
          <tr>
            <th scope="row">Seed Box (mm)</th>
            <td colspan="3" >MS Galvanize</td>
            
          </tr>
          <tr>
            <th scope="row">Seed Drilling Depth (mm)</th>
            <td colspan="3" >20-100 (Adjustable)</td>
            
          </tr>
          <tr>
            <th scope="row">Plant to Plant Spacing (mm)</th>
            <td colspan="3" >20-250 (Adjustable)</td>
            
          </tr>
          <tr>
            <th scope="row">Row to Row Spacing (mm)</th>
            <td colspan="3" >100-2000 (Adjustable)</td>
            
          </tr>
           <tr>
            <th scope="row">Working Width (mm)</th>
            <td colspan="3" >2000</td>
            
          </tr>
          <tr>
            <th scope="row">Weight(Kg)</th>
            <td>310</td>
            <td>350</td>
            <td>390</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power(HP)</th>
            <td colspan="3">35-55</td>
            
          </tr>

          
        </tbody>
    </table>
</div>

  
  

</div>
</div>
{% endblock %}