 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  				<img src="{% static 'Images/Imps/Seeders/drum-seeder.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Khedut Drum Seeder</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 6,800 - ₹ 32,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Khedut</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Drum Seeder</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>MANUAL SEEDER</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Seeding & Plantation</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>N/A</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>KADS 08</td>
          </tr>
          <tr>
            <th scope="row">Row Spacing (mm)</th>
            <td>200-1500(Adjustable)</td>
          </tr>
          <tr>
            <th scope="row">Plant to Plant Spacing (mm)</th>
            <td>50-250 (Adjustable)</td>
          </tr>
          <tr>
            <th scope="row">Diameter of Drum (mm)</th>
            <td>200</td>
          </tr>
          <tr>
            <th scope="row">Diameter of Wheel (mm)</th>
            <td>600</td>
          </tr>
          <tr>
            <th scope="row">Ground Wheel (mm)</th>
            <td>450 (2 Wheel)</td>
          </tr>
          <tr>
            <th scope="row">Operation</th>
            <td>Manually Operated</td>
          </tr>
          <tr>
            <th scope="row">Working Width (mm)</th>
            <td>1500</td>
          </tr>
          <tr>
            <th scope="row">L x W x H (mm / Inch)</th>
            <td>3600 / 142" x 2400 / 94" x 1950 / 77"</td>
          </tr>
          <tr>
            <th scope="row">Weight (Kg)</th>
            <td>7</td>
          </tr>
          
        </tbody>
    </table>
</div>


  
  

</div>
</div>
{% endblock %}