 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Seeders/landforce-happy-seeder-500x500.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Landforce Happy Seeder</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 1,35,000 - ₹ 1,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Landforce</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Happy Seeder</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Seed Cum Fertilizer Drill</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Seeding & Plantation</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>45-60 HP</p>
	     <br>
	 </div>
      </div>
  </div>


  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <p>Landforce Happy Seeder is one of the unique technique which is used for sowing wheat without any burning of rice residue. This technology is eco friendly with environment for the health of soil as well as it also saves water. For Sowing wheat on time the burning of Rice residue decreases the soil fertility and is harmful for human beings, Animals and environment. With the burning of rice residue gases produced creates very harmful situations for our environment. Therefore Dasmesh Turbo Happy Seeder is the most successful implement for sowing wheat in rice residue without burning rice residue instead of without any burning.
</p>

  <ul>
    <li>Possibility of sowing wheat crop just after rice harvesting i.e. option for long duration wheat and rice varieties.</li>

    <li>Possibility of sowing wheat in the residual moisture i.e. saving of one irrigation.</li>

    <li>Timely sowing wheat even after long duration basmati rice varieties.</li>

    <li>Crop residue as much helps in moisture and temperature conservation.</li>

    <li>Improved soil health.</li>

    <li>Environment friendly technology to check air pollution.</li>

  </ul>
</div>

  <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>HSS9</td>
            <td>HSS10</td>
            <td>HSS11</td>
          </tr>
          <tr>
            <th scope="row">No. of Tines</th>
            <td>9</td>
            <td>10</td>
            <td>11</td>
          </tr>
          <tr>
            <th scope="row">No. of Blades</th>
            <td>36</td>
            <td>40</td>
            <td>44</td>
          </tr>
          <tr>
            <th scope="row">Working Width</th>
            <td>72 inch</td>
            <td>81 inch</td>
            <td>90 inch</td>
          </tr>
          <tr>
            <th scope="row">Overall Width</th>
            <td>95 inch</td>
            <td>104 inch</td>
            <td>113 inch</td>
          </tr>
          <tr>
            <th scope="row">Min. HP Required</th>
            <td>45</td>
            <td>55</td>
            <td>60</td>
          </tr>
           <tr>
            <th scope="row">Weight(kg)</th>
            <td>680</td>
            <td>710</td>
            <td>740</td>
          </tr>
          
          
        </tbody>
    </table>
</div>


  
  

</div>
</div>
{% endblock %}