 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Seeders/roto-seeder-heavy-duty-35338.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Landforce Roto Seeder (Heavy Duty)</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 1,45,000 - ₹ 1,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Landforce</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Roto Seeder (Heavy Duty)</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Seed Cum Fertilizer Drill
</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>50-75 HP</p>
	     <br>
	 </div>
      </div>
  </div> 

  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <p>Landforce ROTO SEEEDER is multi purposed earth tilling machine used in the preparation of seedbed & sowing seed into stubbles fields. Roto Seeder helps in proper distribution of seed & fertilzer with broadcasting process, thus provide even mixing into the soil. It is largely suitable for sowing crops like wheat, soya, mustard, maize, pea etc. Also the seed feed-rate can be adjusted with the help of adjusting lever, which allows a great extent of liberty to farmers. It is available with rotary tillers of 5 ft, 6 ft, 7 ft, and 8 ft in size.

</p>

  <ul>
    <li>Save Fuel Time.</li>

    <li>Good Germination</li>

    <li>Proper Distribution of Seeds Fertilisers.</li>

    <li>Crop residue as much helps in moisture and temperature conservation.</li>

    <li>Improved soil health.</li>

    <li>Environment friendly.</li>

  </ul>
</div>

</div>
</div>
{% endblock %}