 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Seeders/superseeder-205-117-1590643720.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Maschio Gaspardo SUPERSEEDER 205</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 1,65,000 - ₹ 2,45,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Maschio Gasparado</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>SUPERSEEDER 205</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Super Seeder</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Seeding & Plantation</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>55-70 HP</p>
	     <br>
	 </div>
      </div>
  </div>
  
  

</div>
</div>
{% endblock %}