 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/markant39434.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Claas MARKANT</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 10,05,000 - ₹ 12,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Claas</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Markant</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>N/A</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <ul>
    <li>Small in stature, powerful in the field.</li>

    <li>Bale chamber – dense, perfectly shaped bales.</li>

    <li>Knotters – secure knots</li>

    <li>Pick-up – clean cut.</li>

    <li>Feed system – powerful feeders.</li>

    <li>Drive system – powerful transmission</li>

  </ul>
</div>

<div class="desc">
  <h3 class="desc-head">Advantages</h3>
  <ul>
    <li>Bale size 46 x 36 cm</li>

    <li>Slip clutch and shear bolt to protect baler</li>

    <li>Internal feeder with shock absorber for vibration equalisation</li>

    <li>Robust, heavy-duty, roller-mounted ram for high bale density</li>

    <li>Pick-up height adjustment via control cable from the tractor cab (hydraulic optional)</li>

    <li>2 dual crank feeders</li>

  </ul>
</div>

 
 

  

</div>
</div>
{% endblock %}