 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/dasmesh_631_1.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Dasmesh 631 - Round Straw Baler</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 2,95,000 - ₹ 4,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Dasmesh</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>631 - Round Straw Baler</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>35 HP(Dual Clutch)</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>Dasmesh - 631</td>
          </tr>
          <tr>
            <th scope="row">Cutter- Bar </th>
            <td>1905 mm</td>
          </tr>
          <tr>
            <th scope="row">Pickup Width </th>
            <td>788 mm </td>
          </tr>
          <tr>
            <th scope="row">Bale Dimension </th>
            <td>500 - 600 mm(Diameter Width )</td>
          </tr>
          <tr>
            <th scope="row">Bale Weight </th>
            <td>11-15 kg</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power </th>
            <td>35 HP (Dual Clutch)</td>
          </tr>
          <tr>
            <th scope="row">Length </th>
            <td>2337 mm</td>
          </tr>
          <tr>
            <th scope="row">Width</th>
            <td>2286 mm</td>
          </tr>
          <tr>
            <th scope="row">Height</th>
            <td>1626 mm</td>
          </tr>
          
        </tbody>
    </table>
</div>

  

</div>
</div>
{% endblock %}