 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/download (1).jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Round Baler</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 10,05,000 - ₹ 12,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>FieldKing</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Round Baler</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>70 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <ul>
    <li>Mechanically lowered plate under the rotor. </li>

    <li>5-Point Adjustable compacting level.</li>

    <li>Rubber-tired ground-following wheels.</li>

    <li>Auto lube system for drive chains.</li>

    <li>Wheels 11.5/80-15.3.</li>

  </ul>
</div>

  <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>FKRB-1.8</td>
          </tr>
          <tr>
            <th scope="row">Type</th>
            <td>Chain & Roller</td>
          </tr>
          <tr>
            <th scope="row">Bale Dia. & Bale Width (mm / Inch)</th>
            <td>1200 / 47" & 1200 / 47"</td>
          </tr>
          <tr>
            <th scope="row">Pick-Up Width (mm / Inch)</th>
            <td>1800 / 71"</td>
          </tr>
          <tr>
            <th scope="row">No. of Pick-Up Tine Rows (pc.)</th>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">No. of Pick-Up Tines (pc.)</th>
            <td>160</td>
          </tr>
          <tr>
            <th scope="row">No. of  Profiled Rollers (pc.)</th>
            <td>8</td>
          </tr>
          <tr>
            <th scope="row">PTO Speed(rpm)</th>
            <td>540</td>
          </tr>
          <tr>
            <th scope="row">L x W x H (mm / Inch)</th>
            <td>3600 / 142" x 2400 / 94" x 1950 / 77"</td>
          </tr>
          <tr>
            <th scope="row">Weight (kg / lbs Approx)</th>
            <td>2180 / 4806</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>70</td>
          </tr>
        </tbody>
    </table>
</div>


 

  

</div>
</div>
{% endblock %}