 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/square-baler.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Square</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 11,45,000 - ₹ 14,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>FieldKing</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Square</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>35-50 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Technical Specifications</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Model</th>
        		<td>FKSB-511</td>
        	</tr>
        	<tr>
        		<th scope="row">Pick-Up Width (mm / Inch)</th>
        		<td>1850 / 73"</td>
        	</tr>
        	<tr>
        		<th scope="row">Baler Chamber(Width x Height) (mm / Inch)</th>
        		<td>460 / 18" x 360 / 14"</td>
        	</tr>
        	<tr>
        		<th scope="row">Baler Length(SmoothAdjustment)(mm / Inch)</th>
        		<td>300 / 12"-1300 / 51"</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO</th>
        		<td>540 rpm</td>
        	</tr>
        	<tr>
        		<th scope="row">No. of Knotter</th>
        		<td>2</td>
        	</tr>
          <tr>
            <th scope="row">No. of Knotter</th>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">Binding Twine Capacity</th>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row">Dimensions (L x W x H)(mm / Inch)</th>
            <td>4220 / 166"</td>
          </tr>
           <tr>
            <th scope="row">Weight (kg / lbs Approx)</th>
            <td>1330 / 2932</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>35-50</td>
          </tr>
        	
        	
        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}