 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/compact_round_baler_large_ff4ea5988d689dbd806d3df581de9aa3e45323d7.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">John Deere Compact Round Baler</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 2,65,000 - ₹ 2,95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>John Deere</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Compact Round Baler</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>35-45 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="5" class="table-heading">Technical Specifications</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Parameter</th>
        		<td>RBO308</td>
                <td>RB0310</td>
                <td>RB0311</td>
        	</tr>
        	<tr>
        		<th scope="row">Dimensions(mm)</th>
        		<td>1435 x 1450 x 1250</td>
                <td>1550 x 1450 x 1250</td>
                <td>1750 x 1250 x 1450</td>
                
        	</tr>
        	<tr>
        		<th scope="row">Working Width (mm)</th>
        		<td>800</td>
                <td>1060</td>
                <td>1175</td>
             
        	</tr>
        	<tr>
        		<th scope="row">Overall Machine Weight (kg)</th>
        		<td>520</td>
                <td>630</td>
                <td>610</td>
              
        	</tr>
        	<tr>
        		<th scope="row">Bale Size (mm)</th>
        		<td> 760 x 610</td>
                <td>930 x 610</td>
                <td>1050 x 500</td>
                
        	</tr>
        	<tr>
        		<th scope="row">No of Rollers</th>
        		<td>12</td>
                <td>12</td>
                <td>10</td>
                
        	</tr>
        	
        </tbody>
    </table>
</div>
  

</div>
</div>
{% endblock %}