 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/square_baler.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Mahindra Baler</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 10,05,000 - ₹ 12,95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Mahindra</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p> 
	     <p>35 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <ul>
    <li>Trouble free binding with easy adjustment.</li>

    <li>Reliable knotter system.</li>

    <li>Sturdy design enables ease of sharp turn in fields.</li>

    <li>The baler can be used to handle varied types of crop straws.</li>

    <li>Ensures effective coverage area by picking up straw even in corners of fields. Enables uniform pick up even in uneven field condition.</li>

  </ul>
</div>

  <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Technical Specifications</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Bale Size in (cm)</th>
        		<td>Cross-section 32x42</td>
        	</tr>
        	<tr>
        		<th scope="row">Bale length in (cm)</th>
        		<td>30 to 100</td>
        	</tr>
        	<tr>
        		<th scope="row">Baler length in (cm)</th>
        		<td>410</td>
        	</tr>
        	<tr>
        		<th scope="row">Baler width in (cm)</th>
        		<td>215</td>
        	</tr>
        	<tr>
        		<th scope="row">Weight in Kg (Approx)</th>
        		<td>850</td>
        	</tr>
        	<tr>
        		<th scope="row">Minimum Tractor HP</th>
        		<td>26.1 kW (35 HP)</td>
        	</tr>
          <tr>
            <th scope="row">Plunger Strokes per minute</th>
            <td>93</td>
          </tr>     	
        	
        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}