 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/mahindra-applitrac-tractor-baler-500x500.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Mahindra Square Baler</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 10,05,000 - ₹ 12,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Mahindra</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Square Baler</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>50-60 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Chamber Size</th>
            <td>36x36 cm</td>
          </tr>
          <tr>
            <th scope="row">Stroke</th>
            <td>73 cm/td>
          </tr>
          <tr>
            <th scope="row">Ram Stroke </th>
            <td>92 Stroke/ Min</td>
          </tr>
          <tr>
            <th scope="row">Feed Window</th>
            <td>1570 cm2</td>
          </tr>
          <tr>
            <th scope="row">Productivity</th>
            <td>2000-2500 Bales/day</td>
          </tr>
          <tr>
            <th scope="row">Bale Length </th>
            <td>30-135 cm</td>
          </tr>
          <tr>
            <th scope="row">Bale Weight </th>
            <td>25-35 kg</td>
          </tr>
          <tr>
            <th scope="row">Knotter Set</th>
            <td>2 twines</td>
          </tr>
          <tr>
            <th scope="row">Weight</th>
            <td>2192 kg</td>
          </tr>
          <tr>
            <th scope="row">Length of Baler (on road)</th>
            <td>553 cm</td>
          </tr>
          <tr>
            <th scope="row">Width of Baler</th>
            <td>255 cm</td>
          </tr>
          <tr>
            <th scope="row">Height of Baler</th>
            <td>187 cm</td>
          </tr>
          <tr>
            <th scope="row">PTO drive</th>
            <td>540 RPM</td>
          </tr>

          
        </tbody>
    </table>
</div>


 

  

</div>
</div>
{% endblock %}