 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/bal2-500x500.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Maschio Gaspardo SQUARE BALER - PITAGORA L</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 11,45,000 - ₹ 14,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Maschio Gasparado</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>SQUARE BALER - PITAGORA L</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>45-55 HP</p>
	     <br>
	 </div>
      </div>
  </div>



</div>
</div>
{% endblock %}