 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6"> 
  			<img src="{% static 'Images/Imps/Balers/bc5000-overview.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">New Holland SQUARE BALER BC5060</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 11,65,000 - ₹ 16,95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>New Holland</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>SQUARE BALER BC5060</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>50-75 HP</p>
	     <br>
	 </div>
      </div>
  </div>

 <div class="desc">
  <h3 class="desc-head">Description</h3>
  <ul>
    <li>Reliable, Hard-working Balers </li>

    <li>Operators who custom bale, especially for horse farms, are big fans of New Holland square balers. New Holland bales are the only choice for hand-feeding because they quickly separate into flakes. Professionals put their trust in BC5000 model balers because they make consistently dense, well-shaped bales that are easy to handle.</li>

  </ul>
</div>
  

</div>
</div>
{% endblock %}