 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/Square-Baler_1257x800-865x500.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Shaktiman Square Baler</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 11,15,000 - ₹ 14,15,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Shaktiman</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Square Baler</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>55 & Above HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <ul>
  	<li>Shaktiman Square baler uniquely designed for improvement in bale storage and transportation activities. bales produced by this new Baler of Shaktiman will be in square shap so that storing and transporting them would become easy.</li>

  	<li>New design of bales will make themdenser and easy to handle. Shaktiman has made necessary improvements in square baler to make them more convenient. Improved features of new shaktiman baler will ensure more efficiency.</li>

  </ul>
</div>

<div class="desc">
  <h3 class="desc-head">Advantages</h3>
  <ul>
  	<li>Square bales are easy yo handle and transport</li>

  	<li>Being aptly storable square bales will require less space</li>

  	<li>Improved features of square baler will deliver more efficiency</li>

  </ul>
</div>
  
  

</div>
</div>
{% endblock %}