 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Balers/SRB-60-Plus-865x500.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Shaktiman Round Baler SRB 60</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 2,95,000 - ₹ 4,65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Shaktiman</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Round Baler SRB 60</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Baler</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Post Harvest</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>25 HP & More</p>
	     <br>
	 </div>
      </div>
  </div>

 <div class="desc">
  <h3 class="desc-head">Description</h3>
  <ul>
    <li>SHAKTIMAN Round Baler is a small and compact machine. </li>

    <li>Low ownership value and low maintenance make this product very profitable and economically viable even for smaller farmers.</li>

  </ul>
</div>

 <div class="desc">
  <h3 class="desc-head">Advantages</h3>
  <ul>
    <li>Small & Compact machine – suitable for small fields</li>

    <li>Easy to operate even by unskilled persons</li>

    <li>Suitable for lower HP tractors</li>

    <li>Bales make handling of Hay easy, saves labor cost</li>

    <li>Wider pickup helps in making bales faster</li>

    <li>17 – 22 kg bales makes manual handling possible</li>

    <li>No need of Bale handlers</li>

  </ul>
</div>


  

</div>
</div>
{% endblock %}