{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Sonalika/upload-1597906033-0.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Sonalika Rx 47 Sikander</h2>
	    <h5 class="sub-head">50HP</h5>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹6,38,000 - ₹ 6,70,000</p>
	    <br>
	     <p class="side-heads"><b>PTO HP: </b></p>
	     <p>42.5 HP</p>
	     <br>
	     <p class="side-heads"><b>Forward Gears:</b></p>
	     <p>8</p>
	     <br>
	     <p class="side-heads"><b>Reverse Gears:</b></p>
	     <p>2</p>
	     <br>
	     <p class="side-heads"><b>Steering Type:</b></p>
	     <p>Mechanical/Power Steering</p>
	     <br>
	     <p class="side-heads"><b>Brakes :</b></p>
	     <p>Dry Disc/Oil Immersed</p>
	     <br>
	     <p class="side-heads"><b>Lift Capacity :</b></p>
	     <p>1800 kg</p>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Engine</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">HP Category</th>
        		<td>50 HP</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Capacity</th>
        		<td>3067 cc</td></td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Rated RPM</th>
        		<td>1900 RPM</td>
        	</tr>
        	<tr>
        		<th scope="row">No of Cylinder</th>
        		<td>3</td>
        	</tr>
        	<tr>
        		<th scope="row">Air Filter</th>
        		<td>Dry type</td>
        	</tr>
        	<tr>
        		<th scope="row">Cooling System</th>
        		<td>Water cooled</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Transmission</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Clutch type</th>
        		<td>Single/Dual</td>
        	</tr>
        	<tr>
        		<th scope="row">Transmission type</th>
        		<td>Constant mesh</td>
        	</tr>
        	<tr>
        		<th scope="row">Speed min-max</th>
        		<td>2.67 - 37.8 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse speed min – max</th>
        		<td>NA</td>
        	</tr>
        	<tr>
        		<th scope="row">Forward Gears</th>
        		<td>8</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse Gears</th>
        		<td>2</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Brakes</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Brake Type</th>
        		<td>Dry Disc /Oil Immersed</td>
        	</tr>
        	<tr>
        		<th scope="row">Turning radius with brake</th>
        		<td>NA</td>
        	</tr>

        </tbody>
    </table>

     <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Steering</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Type</th>
        		<td>Mechanical /Power Steering</td>
        	</tr>
        	<tr>
        		<th scope="row">Steering Adjustment</th>
        		<td>No</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Power Take OFF</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">PTO type</th>
        		<td>6 Spline</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO RPM</th>
        		<td>540</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO POWER</th>
        		<td>43 HP</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Fuel Tank</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Capacity</th>
        		<td>55 litres</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Dimension and Weight</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Weight</th>
        		<td>NA</td>
        	</tr>
        	<tr>
        		<th scope="row">Wheel Base</th>
        		<td>2,080 mm</td>
        	</tr>
        	<tr>
        		<th scope="row">Overall Length</th>
        		<td>NA</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Hydraulics</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Lift Capacity</th>
        		<td>1800 kg</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Tyre Size</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Front</th>
        		<td>6 X 16/ 7.5 X 16</td>
        	</tr>
        	<tr>
        		<th scope="row">Rear</th>
        		<td>13.6 X 28 / 14.9 X 28</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Additional Features</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Drive Type</th>
        		<td>2WD/4WD</td>
        	</tr>
        </tbody>
    </table>


  </div>

</div>
  </div>
{% endblock %}