.custenrol{
   padding-top: 110px;
   padding-bottom: 50px;
}

.custenrol .btn-warning{
   color: white;
   background-color: #ff9e00;

}

.form-control{
   margin-bottom: 10px;
}

label{
	font-family: 'Spartan',sans-serif;
	color: black;
	font-size: 17px;
}

.form-group p{
	padding-top: 30px;
	
}

.helptext{
	color: #808080;
	font-size: 16px;
}

.success{
	padding-top: 40px;
	margin-bottom: 50px;
	text-align: center;
	
}

.success-msg{
	font-family: 'Pacifico',sans-serif;
	font-size: 40px;
}

.success-msg span{
	color: #ff9e00;
}

.success-gif{
	height: auto;
	margin-bottom: 0px;
}


.appid{
	font-family: 'Spartan',sans-serif;
	font-size: 35px;
	padding-top: 20px;
}