.farm-home{
	padding-top:30px; 
}

.farm-home .farm-home-img{
   width: 100%;
   height: auto;
   background-attachment: fixed;
   background-size: cover;
}

.farm-concept{
	position: relative;
}
.farm-concept .crop-bg-img{
   width: 100%;
   height: auto;
   background-attachment: fixed;
   background-size: cover;	
	
}

.farm-concept .farm-concept-text{
	position: absolute;
	top: 12%;
	left: 10%;
	right: 45%;
}

.farm-concept .farm-concept-text h4{
	font-family: 'Spartan',sans-serif;
	font-size: 45px;
	color: #ff9e00;
}

.farm-concept .farm-concept-text h4 span{
	font-family: 'Spartan',sans-serif;
	font-size: 45px;
	color: black;
}

.farm-concept .farm-concept-text p span{
	font-family: 'Spartan',sans-serif;
	color: black;
	text-align: right;
}

.farm-concept .farm-concept-text p{
	text-align: center;

}

.farm-concept .farm-concept-text .explain p{
	text-align: justify;

}

@media (max-width: 992px){
	.farm-home{
	padding-top:80px; 
}
	.farm-home .farm-home-img{
   width: 100%;
   height: auto;
   background-attachment: fixed;
   background-size: cover;
}
.farm-concept{
	position: relative;
	margin-bottom: 20px;
}

.farm-concept .crop-bg-img{
   width: 100%;
   height: auto;
   background-attachment: fixed;
   background-size: cover;	
 
	
}

.farm-concept .farm-concept-text{
	position: absolute;
	top: 12%;
	left: 3%;
	right: 28%;
}

.farm-concept .farm-concept-text h4{
	font-family: 'Spartan',sans-serif;
	font-size: 22px;
	color: #ff9e00;
}

.farm-concept .farm-concept-text h4 span{
	font-family: 'Spartan',sans-serif;
	font-size: 22px;
	color: black;
}

.farm-concept .farm-concept-text p span{
	font-family: 'Spartan',sans-serif;
	color: black;
	text-align: right;
	font-size: 17px;
}

.farm-concept .farm-concept-text p{
	text-align: center;
	font-size: 17px;
}

.farm-concept .farm-concept-text .explain p{
	text-align: justify;
	font-size: 15px;
}


}

@media (max-width: 768px){
	.farm-home{
	padding-top:80px; 
}
	.farm-home .farm-home-img{
   width: 100%;
   height: auto;
   background-attachment: fixed;
   background-size: cover;
}
.farm-concept{
	position: relative;
	  margin-bottom: 50px;
}

.farm-concept .crop-bg-img{
   width: 100%;
   height: 55vh;
   background-attachment: fixed;
   background-size: cover;	
 
	
}

.farm-concept .farm-concept-text{
	position: absolute;
	top: 12%;
	left: 3%;
	right: 25%;
}

.farm-concept .farm-concept-text h4{
	font-family: 'Spartan',sans-serif;
	font-size: 18px;
	color: #ff9e00;
}

.farm-concept .farm-concept-text h4 span{
	font-family: 'Spartan',sans-serif;
	font-size: 18px;
	color: black;
}

.farm-concept .farm-concept-text p span{
	font-family: 'Spartan',sans-serif;
	color: black;
	text-align: right;
	font-size: 13px;
}

.farm-concept .farm-concept-text p{
	text-align: center;
	font-size: 13px;
}

.farm-concept .farm-concept-text .explain p{
	text-align: justify;
	font-size: 12px;
}

}

@media (max-width: 544px){
	.farm-home{
	padding-top:80px; 
}
	.farm-home .farm-home-img{
   width: 100%;
   height: auto;
   background-attachment: fixed;
   background-size: cover;

}
.farm-concept{
	position: relative;
	  margin-bottom: 50px;
}

.farm-concept .crop-bg-img{
   width: 100%;
   height: 100vw;
   background-attachment: fixed;
   background-size: cover;	
 
	
}

.farm-concept .farm-concept-text{
	position: absolute;
	top: 12%;
	left: 3%;
	right: 25%;
}

.farm-concept .farm-concept-text h4{
	font-family: 'Spartan',sans-serif;
	font-size: 18px;
	color: #ff9e00;
}

.farm-concept .farm-concept-text h4 span{
	font-family: 'Spartan',sans-serif;
	font-size: 18px;
	color: black;
}

.farm-concept .farm-concept-text p span{
	font-family: 'Spartan',sans-serif;
	color: black;
	text-align: right;
	font-size: 13px;
}

.farm-concept .farm-concept-text p{
	text-align: center;
	font-size: 13px;
}

.farm-concept .farm-concept-text .explain p{
	text-align: justify;
	font-size: 12px;
}

}

@media (max-width: 379px){

.farm-home{
	padding-top:60px; 
}
	.farm-home .farm-home-img{
   width: 100%;
   height: 55vw;
   background-attachment: fixed;
   background-size: cover;
}
.farm-concept{
	position: relative;
	  margin-bottom: 110px;
}

.farm-concept .crop-bg-img{
   width: 100%;
   height: 120vw;
   background-attachment: fixed;
   background-size: cover;	
 
	
}

.farm-concept .farm-concept-text{
	position: absolute;
	top: 12%;
	left: 3%;
	right: 25%;
}

.farm-concept .farm-concept-text h4{
	font-family: 'Spartan',sans-serif;
	font-size: 18px;
	color: #ff9e00;
}

.farm-concept .farm-concept-text h4 span{
	font-family: 'Spartan',sans-serif;
	font-size: 18px;
	color: black;
}

.farm-concept .farm-concept-text p span{
	font-family: 'Spartan',sans-serif;
	color: black;
	text-align: right;
	font-size: 13px;
}

.farm-concept .farm-concept-text p{
	text-align: center;
	font-size: 13px;
}

.farm-concept .farm-concept-text .explain p{
	text-align: justify;
	font-size: 12px;
}

}