 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Trailers/khedut-tractor-tipping-trailer-500x500.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Khedut Tractor Tipping Trailer</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 1,05,000 - ₹ 1,95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Khedut</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Tractor Tipping Trailer</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Trailer</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Haulage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>N/A</p>
	     <br>
	 </div>
      </div>
  </div>
  
   <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="5" class="table-heading">Technical Specifications</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Model</th>
        		<td>KATTT 15</td>
                
        	</tr>
            <tr>
                <th scope="row">Main Chassis Channel(mm)</th>
                <td>200x75(C-Channel)</td>
            </tr>
             <tr>
                <th scope="row">Second Chassis Channel(mm)</th>
                <td>125x65(C-Channel)</td>
            </tr>
             <tr>
                <th scope="row">Frame Floor Channel(mm)</th>
                <td>100x50(C-Channel)</td>
            </tr>
             <tr>
                <th scope="row">Body Floor Channel(mm)</th>
                <td>6</td>
            </tr>
            <tr>
                <th scope="row">Body Side Walls Thickness(mm)</th>
                <td>3.5</td>
            </tr>
            <tr>
                <th scope="row">Door Frame Angle (mm)</th>
                <td>35x35x35</td>
            </tr>
             <tr>
                <th scope="row">Hitch Beam (mm)</th>
                <td>150 x 150</td>
            </tr>
            <tr>
                <th scope="row">Hydraulic Jack</th>
                <td>10 Tons (Double Jack)</td>
            </tr>
            <tr>
                <th scope="row">Main Axle(mm)</th>
                <td>100</td>
            </tr>
            <tr>
                <th scope="row">Wheel Axle(mm)</th>
                <td>75</td>
            </tr>
            <tr>
                <th scope="row">Bearings</th>
                <td>32213 Heavy Duty</td>
            </tr>
            <tr>
                <th scope="row">Wheels</th>
                <td>4 Wheel</td>
            </tr>
             <tr>
                <th scope="row">Tyres</th>
                <td>9.00 x 16 (MRF/CEAT)</td>
            </tr>
            <tr>
                <th scope="row">Weight (Kg)</th>
                <td>2300</td>
            </tr>
        	
        	
        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}