 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Trailers/tipping-trailer-tandem-axle-69314.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Landforce Tipping Trailer(Tandem Axle)</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 1,05,000 - ₹ 1,95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Landforce</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Tipping Trailer (Tandem Axle)</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Trailer</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Haulage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>N/A</p>
	     <br>
	 </div>
      </div>
  </div>
  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <ul>
      <li>Landforce Trailers are used for the transportation of agriculture produces, farming remainders, residues or weeds from one place to another.</li>

      <li>Heavy Duty Structure using finest quality of raw material and Robust Design, results in Low Maintenance Cost and Long Life.</li>

      <li>Good Quality Paint is used that saves the product from corrosion and thus enhance the life.</li>

      <li>Wide Tyres for better grip on the ground Solid Beam Axle, Branded Bearings and good quality of hydraulic pump</li>
      
  </ul>
</div>

 <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="5" class="table-heading">Technical Specifications</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Model</th>
        		<td>TRC 6</td>
        		<td>TRC 9</td>
                
        	</tr>
        	<tr>
        		<th scope="row">Outer Dimensions(LXWXH in Feet)</th>
        		<td>11 x 6 x 2 mm</td>
        		<td>12 x 6 x1.75 mm</td>
                
        	</tr>
            <tr>
                <th scope="row">Main Chassis Heavy Channel(mm)</th>
                <td>150 x 75 mm</td>
                <td>200 x 75 mm</td>
            </tr>
            <tr>
                <th scope="row">Support Channel</th>
                <td>75x40 mm</td>
                <td>75x40 mm</td>
            </tr>
            <tr>
                <th scope="row">Floor Platform Thickness</th>
                <td>4 mm</td>
                <td>4 mm</td>
            </tr>
            <tr>
                <th scope="row">Side Walls Thickness</th>
                <td>3 mm</td>
                <td>3 mm</td>
            </tr>
            <tr>
                <th scope="row">Wheel Rim</th>
                <td>Heavy Duty</td>
                <td>Heavy Duty</td>
            </tr>
             <tr>
                <th scope="row">Axle</th>
                <td>75 mm square</td>
                <td>90 mm square</td>
            </tr>
            <tr>
                <th scope="row">Aprox Weight in Kg</th>
                <td>1850</td>
                <td>2110</td>
            </tr>
        	
        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}