 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/2-furrow99554.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Agristar Disc Plough 2 FURROW</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹42,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Agristar</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Disc Plough 2 FURROW</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>30-40 HP</p>
	     <br>
	 </div>
      </div>
  </div>

   <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Rolled tubular frame with heavy section thickness</li>

    <li>Frame construction provides high trash clearance</li>

    <li>Side draft and thrust controlled by fully floating furrow wheel</li>

    <li>Heavy-duty bearing to support the discs.</li>

    <li>660 mm (26 inches) furrow disc made from boron steel (6mm thick).</li>

    <li>Possibility of upgrading 2 furrow and 3 furrow to 3 furrow and 4 furrow versions respectively</li>

   

  </ul>
</div> 

<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model </th>
            <td>228DS</td>
          </tr>
          <tr>
            <th scope="row">HP Required</th>
            <td>30-40 hp</td>
          </tr>
          <tr>
            <th scope="row">Number of Bottoms</th>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">Length </th>
            <td>1300 mm</td>
          </tr>
          <tr>
            <th scope="row">Width </th>
            <td>990 mm</td>
          </tr>
          <tr>
            <th scope="row">Height</th>
            <td>1120 mm</td>
          </tr>
          <tr>
            <th scope="row">Cutting Width per disc</th>
            <td>280 mm</td>
          </tr>
          <tr>
            <th scope="row">Weight</th>
            <td>260 kg</td>
          </tr>

        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}