 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/mbplough-main_a8b1cd1c-cf9f-4d37-a079-1608b26206e5.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Captain M B Plough</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹28,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Captain</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>M B Plough</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>N/A</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <p>Captain Tractors is a reputed company in Rajkot, India manufacturing world class products including M B Plough. This plough is importantly used under circumstances like canal irrigation and heavy rained areas where the land is full of continuously growing weeds. Here the focus remains on inverting the soil completely then the weeds are uprooted, trashed and residues of crop for the last step of burying them. The mould boards of plough should be such it it correctly inverts the correct side fully so that the undesired growth is buried and the result is a subsequent manure after decomposition.
</p>

  <ul>
    <li>Heavy Disking</li>

    <li>Useful In Toughest Soils
</li>

    <li>Durable </li>

    <li>Cost-Competitive</li>

    <li>Best Attachment</li>

    <li>Works With Hydraulics</li>

    <li>Easy Disking In Small Areas</li>

    <li>Accurate Maintenance Of Ploughing Depth</li>
  </ul>
</div> 


</div>
</div>
{% endblock %}