 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/mini-reversible-plough-500x500.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Captain Reversible</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹62,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Captain</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Reversible</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>N/A</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <p>All types of farm and agriculture equipment of Captain Tractors are of best quality. We are reversible plough suppliers and manufacturers. Reversible Plough has unique use and implementation and is mounted in tractors. We stand apart from competitors and supply useful reversible plough that performs well in all types of soils and lands including the dry and scouring conditions too. Proper clearance reverses automatically and thus takes less time and fuel consumption.

</p>

  <ul>
    <li>Directly mounts to the tractor without any hurdles</li>

    <li>Performs best and very smoothly</li>

    <li>Perfect clearance </li>

    <li>Functions well under heavy residuals& trashy conditions</li>

    <li>Ability to work on both the sides - Left and Right</li>

    <li>Perfect for large areas</li>

    <li>Suitable for toughest ploughing job</li>

    <li>No penetrating performance</li>

    <li>Less time required</li>

    <li>Less consumption of fuel (diesel)</li>

    <li>Wear resistant</li>
  </ul>
</div> 


</div>
</div>
{% endblock %}