 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/dasmesh_451_1.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Dasmesh 451 - MB Plough</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹62,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Dasmesh</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>451 - MB Plough</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>55-60 HP</p>
	     <br>
	 </div>
      </div>
  </div> 

</div>
</div>
{% endblock %}