 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/download.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Maxx Reversible MB Plough</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹85,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Maxx Reversible MB Plough</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>45-50 HP</p>
	     <br>
	 </div>
      </div>
  </div>

   <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>FKMRMBPH - 2</td>
          </tr>
          <tr>
            <th scope="row">Number of Furrow</th>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">Draw Bar Rod(mm / Inch)</th>
            <td>50 / 2" (solid Rod)</td>
          </tr>
          <tr>
            <th scope="row">Tyne (mm)</th>
            <td>40 / 1.6"(Profile Cut Single Peace)</td>
          </tr>
          <tr>
            <th scope="row">Length & Height (mm / Inch) </th>
            <td>1855 / 73" & 1370 / 54"</td>
          </tr>
          <tr>
            <th scope="row">Blade (mm / Inch) </th>
            <td>545 / 21" x 100 / 4" x 10 / 0.4"</td>
          </tr>
          <tr>
            <th scope="row">Mould Board (mm) </th>
            <td>8(T)</td>
          </tr>
          <tr>
            <th scope="row">Plough Shear (mm)</th>
            <td>10(T)</td>
          </tr>
          <tr>
            <th scope="row">Bar Point (mm / Inch) </th>
            <td>40 / 1.6" x 25 / 1"(T)Forged</td>
          </tr>
          <tr>
            <th scope="row">Tillage Width (mm / Inch) </th>
            <td>685 / 27"</td>
          </tr>
          <tr>
            <th scope="row">Depth of Cut (Max. mm / Inch) </th>
            <td>355 / 14"</td>
          </tr>
          <tr>
            <th scope="row">Weight (kg / lbs Approx) </th>
            <td>410 / 904 </td>
          </tr>
          <tr>
            <th scope="row">Tractor Power(HP)</th>
            <td>45-50</td>
          </tr>

        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}