 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/reversible-manual-plough.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Reversible Manual Plough</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹38,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Reversible Manual Plough</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>45-50 HP</p>
	     <br>
	 </div>
      </div>
  </div>

   <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>FKRMBPM-2</td>
          </tr>
          <tr>
            <th scope="row">Number of Furrow</th>
            <td colspan="2">2</td>
            
          </tr>
          <tr>
            <th scope="row">Draw Bar Rod (mm / Inch)</th>
            <td colspan="2">50 / 2" (solid Rod)</td>
          </tr>
          <tr>
            <th scope="row">Tyne (mm)</th>
            <td colspan="2">40 / 1.5"(Profile Cut Single Peace)</td>
           
          </tr>
          <tr>
            <th scope="row">Length(mm / Inch)</th>
            <td colspan="2">1855 / 73"</td>
           
          </tr>
          <tr>
            <th scope="row">Height(mm / Inch)</th>
            <td>1270 / 50"</td>
          </tr>
          <tr>
            <th scope="row">Blade (mm / Inch)</th>
            <td colspan="2">545 / 21.4" x 100 / 4" x 10 mm</td>
            
          </tr>
          <tr>
            <th scope="row">Mould Board (mm)</th>
            <td>8 mm</td>
          </tr>
          <tr>
            <th scope="row">Width of Cut (mm)</th>
            <td>660 / 26"</td>   

          </tr>
          <tr>
            <th scope="row">Depth of Cut (mm)</th>
            <td>355 / 14"</td>   

          </tr>
          <tr>
            <th scope="row">Weight (kg / lbs Approx)</th>
            <td>390 / 860</td>   

          </tr>
          <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>45-50</td>
          </tr>
         

        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}