 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/hydraulic-reversible-mb-plough-john-deere-500x500.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">John Deere Hydraulic Reversible MB Plough</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹62,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>John Deere</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Hydraulic Reversible MB Plough</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>50-55 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  
<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="3" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model </th>
            <td>MB3102H</td>
            <td>MB3103H</td>
          </tr>
          <tr>
            <th scope="row">Length of Plough (mm) </th>
            <td>1730</td>
            <td>2030</td>
          </tr>
          <tr>
            <th scope="row">Working Width (mm) </th>
            <td>1320 </td>
            <td>1650 </td>
          </tr>
          <tr>
            <th scope="row">Suitable Tractor Models </th>
            <td>50 HP & Above with SCV </td>
            <td>55 HP & Above with SCV </td>
          </tr>
          <tr>
            <th scope="row">Weight </th>
            <td>455 kg </td>
            <td>585 kg </td>
          </tr>
          <tr>
            <th scope="row">Hitch Type  </th>
            <td>3 Point Hitch, Category II</td>
            <td>3 Point Hitch, Category II</td>
          </tr>

          <tr>
            <th scope="row">Max. Ploughing Depth </th>
            <td colspan="2">350 mm (13.78 ")</td>
          </tr>
         

        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}