 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/reversible-mb-plough.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Khedut Reversible MB Plough</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹68,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Khedut</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Reversible MB Plough</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>45-125 HP</p>
	     <br>
	 </div>
      </div>
  </div>

   <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="3" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>KARMBP 02</td>
            <td>KARMBP 03</td>
          </tr>
          <tr>
            <th scope="row">Frame (mm)</th>
            <td colspan="2">75 x 25 Flat Bar Frame</td>
            
          </tr>
          <tr>
            <th scope="row">Tines (mm)</th>
            <td colspan="2">80 x 36</td>
          </tr>
          <tr>
            <th scope="row">Mould Board (mm)</th>
            <td colspan="2">8</td>
           
          </tr>
          <tr>
            <th scope="row">Working Depth (mm)</th>
            <td colspan="2">250-350</td>
           
          </tr>
          <tr>
            <th scope="row">Working Width (mm)</th>
            <td>630</td>
            <td>950</td>
          </tr>
          <tr>
            <th scope="row">Turnover Mechanism</th>
            <td colspan="2">Hydraulic</td>
            
          </tr>
          <tr>
            <th scope="row">Mounted CAT</th>
            <td colspan="2">CAT II</td>
          </tr>

          <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>45-55</td>
            <td>75-125</td>
          </tr>
         

        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}