 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/mounted-off-set-cum-trailed-disc-harrow-34-1590134871.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Khedut Mounted Disc Plough</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹28,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Khedut</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Mounted Disc Plough</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>25-125HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <p>This Khedut manufactured Disc Plough model with international design, mechanism and wide working width helps farmer to get quality tillage results every time. It is designed to work in all types of soil for functions such as soil breaking, soil breaking, soil raising, soil turning and soil mixing. </p>

</div> 

<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="5" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model </th>
            <td>KAMDP  02</td>
            <td>KAMDP 03</td>
            <td>KAMDP 04</td>
            <td>KAMDP 05</td>
          </tr>
          
          
          <tr>
            <th scope="row">Frame </th>
            <td colspan="4" >Seamless  Tublar Frame (OD 168, ID 146)</td>
           
          </tr>
          
          <tr>
            <th scope="row">Axle Type</th>
            <td colspan="4" >Spindle</td>
           
          </tr>
          <tr>
            <th scope="row">Type of Disc</th>
            <td colspan="4" >Boron Steel / High Carbon Steel</td>
           
          </tr>
          <tr>
            <th scope="row">Bearing Hubs</th>
            <td>2</td>
            <td>3 </td>
            <td>4 </td>
            <td>5 </td>
          </tr>
          <tr>
            <th scope="row">Scraper (mm)</th>
            <td colspan="4" >6 (Adjustable)</td> 
          </tr>
          <tr>
            <th scope="row">Weight (Kg) </th>
            <td>190-310 </td>
            <td>420 </td>
            <td>530 </td>
            <td>630 </td>
          </tr>
         

        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}