 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/landforce-reversible-mb-plough-500x500.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Landforce MB Plough (Reversible)</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹50,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>MB Plough (Reversible)</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>N/A</p>
	     <br>
	 </div>
      </div>
  </div>

   <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>MBR1</td>
            <td>MBR2</td>
            <td>MBR3</td>
          </tr>
          <tr>
            <th scope="row">Number of Furrow</th>
            <td >1</td>
            <td >2</td>
            <td >3</td>
            
          </tr>
          <tr>
            <th scope="row">Working Width</th>
            <td >350</td>
            <td >700</td>
            <td >1100</td>
            
          </tr>
          <tr>
            <th scope="row">Working Depth</th>
            <td colspan="3">250-355</td>
            
          </tr>
          <tr>
            <th scope="row">Min. HP Required</th>
            <td >55</td>
            <td >65</td>
            <td >85</td>
            
          </tr>
          <tr>
            <th scope="row">Hitch Type</th>
            <td colspan="3">3 Point Hitch, CAT-II</td>
            
          </tr>
          <tr>
            <th scope="row">Safety</th>
            <td colspan="3">ShearBolt</td>
            
          </tr>
           <tr>
            <th scope="row">Weight(kg)</th>
            <td >265</td>
            <td >440</td>
            <td >600</td>
            
          </tr>
          
         

        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}