 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/reversible-plough.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Mahindra Reversible Plough</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹51,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Mahindra</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Reversible Plough</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>45-65 HP</p>
	     <br>
	 </div>
      </div>
  </div>

   <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="3" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model</th>
            <td>2 Bottom hy. Rev. MB Plough</td>
            <td>3 Bottom hy. Rev. MB Plough</td>
           
          </tr>
          <tr>
            <th scope="row">No of Boards on each side</th>
            <td >2</td>
            <td >3</td>
          </tr>
          <tr>
            <th scope="row">Complete width of cut in (mm)</th>
            <td >610</td>
            <td >915</td>
           
            
          </tr>
          <tr>
            <th scope="row">Depth of Cut mm with medium soil (mm)</th>
            <td colspan="2">350</td>
            
          </tr>
          <tr>
            <th scope="row">Min. HP Required</th>
            <td >55</td>
            <td >65</td>
           
            
          </tr>
          <tr>
            <th scope="row">Overall Length x Width x Height (mm)</th>
            <td >1750 x 870 x 1240</td>
            <td >2030 x 1220 x 1270</td>
            
          </tr>
          <tr>
            <th scope="row">Safety</th>
            <td colspan="2">ShearBolt</td>
            
          </tr>
           <tr>
            <th scope="row">Weight(kg)</th>
            <td >285</td>
            <td >360</td>
            
          </tr>
          
         

        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}