 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/PerfectHydraulicreversibleploughSawan_0_1572863381.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">New Holland Mould Board-Reversible Hydraulic</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹92,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>New Holland</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Mould Board-Reversible Hydraulic</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>55-90 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Outstanding Soil Penetration</li>

    <li>Uniform soil Inversion
</li>

    <li>Easy hydraulic Control-less turning time </li>

    <li>Less Load - Fuel efficient </li>

    <li>Increase in organic matter</li>
  </ul>
</div> 

  
<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="3" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model </th>
            <td>MBP-2/SHP2-55</td>
            <td>MBP-3/SHP2-75</td>
          </tr>
          <tr>
            <th scope="row">Description  </th>
            <td>2 Furrow</td>
            <td>3 Furrow</td>
          </tr>
          
          <tr>
            <th scope="row">Under body Clearance(cm) </th>
            <td>70 </td>
            <td>70 </td>
          </tr>
          <tr>
            <th scope="row">Working Width(cm) </th>
            <td>50-70 </td>
            <td>75-105 </td>
          </tr>
          <tr>
            <th scope="row">Working Depth (cm) </th>
            <td>30-40</td>
            <td>30-40</td>
          </tr>

          <tr>
            <th scope="row">Distance between two working points (cm)</th>
            <td colspan="2">83</td>
          </tr>
          <tr>
            <th scope="row">Weight</th>
            <td>455</td>
            <td>585</td>
          </tr>

        </tbody>
    </table>
</div>

  

</div>
</div>
{% endblock %}