 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Plows/sonalika_mb_lpough.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Sonalika MB PLOUGH</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Sonalika</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>MB PLOUGH</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Plough</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>60-65 HP</p>
	     <br>
	 </div>
      </div>
  </div>

   <div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Models</th>
            <td>SLMBP - 2</td>
            <td>SLMBP - 3</td>
            <td>SLMBP - 4</td>
         
           
          </tr>
          <tr>
            <th scope="row">FURROW</th>
            <td >2</td>
            <td >3</td>
            <td>4</td>
            
          </tr>
          <tr>
            <th scope="row">DRAW BAR ROD (mm)</th>
            <td colspan="3">50 (Solid Rod)</td>
            
          </tr>
          <tr>
            <th scope="row">TYNE (mm)</th>
            <td >25/36 (Profile Cut Single Piece)</td>
            <td colspan="2">36 (Profile Cut Single Piece)</td>
            
          </tr>
          <tr>
            <th scope="row">HEIGHT (mm)</th>
            <td colspan="3" >1190</td>
           
            
          </tr>
           <tr>
            <th scope="row">BLADE (mm)</th>
            <td colspan="3" >8</td>
           
            
          </tr>
        </tbody>
      </table>
    </div>
 

          
       
</div>
</div>
{% endblock %}