{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/JD/5075E/5075-e-4wd.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">John Deere 5075E</h2>
	    <h5 class="sub-head">75HP</h5>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 12,53,000 - ₹ 13,50,000</p>
	    <br>
	     <p class="side-heads"><b>PTO HP: </b></p>
	     <p>63.7HP</p>
	     <br>
	     <p class="side-heads"><b>Forward Gears:</b></p>
	     <p>9</p>
	     <br>
	     <p class="side-heads"><b>Reverse Gears:</b></p>
	     <p>3</p>
	     <br>
	     <p class="side-heads"><b>Steering Type:</b></p>
	     <p>Power Steering</p>
	     <br>
	     <p class="side-heads"><b>Brakes :</b></p>
	     <p>Oil Immersed </p>
	     <br>
	     <p class="side-heads"><b>Lift Capacity :</b></p>
	     <p>2000 kg</p>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Engine</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">HP Category</th>
        		<td>75 HP</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Capacity</th>
        		<td>2900 cc</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Rated RPM</th>
        		<td>2400 RPM</td>
        	</tr>
        	<tr>
        		<th scope="row">No of Cylinder</th>
        		<td>3</td>
        	</tr>
        	<tr>
        		<th scope="row">Air Filter</th>
        		<td>Dry type, Dual element</td>
        	</tr>
        	<tr>
        		<th scope="row">Cooling System</th>
        		<td>Coolant Cooled</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Transmission</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Clutch type</th>
        		<td>Dual</td>
        	</tr>
        	<tr>
        		<th scope="row">Transmission type</th>
        		<td> Synchromesh</td>
        	</tr>
        	<tr>
        		<th scope="row">Speed min-max</th>
        		<td>2.2 – 31.3 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse speed min – max</th>
        		<td>3.6 – 24.2 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Forward Gears</th>
        		<td>9</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse Gears</th>
        		<td>3</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Brakes</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Brake Type</th>
        		<td>Oil Immersed Brakes</td>
        	</tr>
        	<tr>
        		<th scope="row">Turning radius with brake</th>
        		<td>3604 mm</td>
        	</tr>
        	
        </tbody>
    </table>

     <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Steering</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Type</th>
        		<td>Power Steering</td>
        	</tr>
        	<tr>
        		<th scope="row">Steering Adjustment</th>
        		<td>NO</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Power Take OFF</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">PTO type</th>
        		<td>6 Spline</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO RPM</th>
        		<td>540,540E</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO POWER</th>
        		<td>64HP</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Fuel Tank</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Capacity</th>
        		<td>68 litres</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Dimension and Weight</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Weight</th>
        		<td>2,640 kg</td>
        	</tr>
        	<tr>
        		<th scope="row">Wheel Base</th>
        		<td>2050 mm</td>
        	</tr>
        	<tr>
        		<th scope="row">Overall Length</th>
        		<td>3625 mm</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Hydraulics</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Lift Capacity</th>
        		<td>2000 kg</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Tyre Size</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Front</th>
        		<td>12.4 X 24 / 11.2 X 24</td>
        	</tr>
        	<tr>
        		<th scope="row">Rear</th>
        		<td>18.4 X 30 / 16.9 X 30</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Additional Features</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Drive Type</th>
        		<td>4WD</td>
        	</tr>
        </tbody>
    </table>


  </div>	

</div>
  </div>
{% endblock %}