{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/JD/5105/john-deere-5105.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">John Deere 5105</h2>
	    <h5 class="sub-head">40HP</h5>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹5,30,000 - ₹5,70,000</p>
	    <br>
	     <p class="side-heads"><b>PTO HP: </b></p>
	     <p>34.0HP</p>
	     <br>
	     <p class="side-heads"><b>Forward Gears:</b></p>
	     <p>8</p>
	     <br>
	     <p class="side-heads"><b>Reverse Gears:</b></p>
	     <p>4</p>
	     <br>
	     <p class="side-heads"><b>Steering Type:</b></p>
	     <p>Power Steering</p>
	     <br>
	     <p class="side-heads"><b>Brakes :</b></p>
	     <p>Oil Immersed Disc</p>
	     <br>
	     <p class="side-heads"><b>Lift Capacity :</b></p>
	     <p>1600 kg</p>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Engine</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">HP Category</th>
        		<td>40 HP</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Capacity</th>
        		<td>2900 cc</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Rated RPM</th>
        		<td>2100 RPM</td>
        	</tr>
        	<tr>
        		<th scope="row">No of Cylinder</th>
        		<td>3</td>
        	</tr>
        	<tr>
        		<th scope="row">Air Filter</th>
        		<td>Dry type, Dual element</td>
        	</tr>
        	<tr>
        		<th scope="row">Cooling System</th>
        		<td>Coolant Cooled</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Transmission</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Clutch type</th>
        		<td>Single Friction plate</td>
        	</tr>
        	<tr>
        		<th scope="row">Transmission type</th>
        		<td>Collarshift</td>
        	</tr>
        	<tr>
        		<th scope="row">Speed min-max</th>
        		<td>3.25 - 39.5 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse speed min – max</th>
        		<td>4.27 – 15.45 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Forward Gears</th>
        		<td>8</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse Gears</th>
        		<td>4</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Brakes</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Brake Type</th>
        		<td>Oil Immersed Disc Brakes</td>
        	</tr>
        	<tr>
        		<th scope="row">Turning radius with brake</th>
        		<td>2900 mm</td>
        	</tr>
        	
        </tbody>
    </table>

     <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Steering</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Type</th>
        		<td>Power Steering</td>
        	</tr>
        	<tr>
        		<th scope="row">Steering Adjustment</th>
        		<td>NO</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Power Take OFF</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">PTO type</th>
        		<td>6 Spline</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO RPM</th>
        		<td>540</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO POWER</th>
        		<td>34HP</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Fuel Tank</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Capacity</th>
        		<td>60 litres</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Dimension and Weight</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Weight</th>
        		<td>1,810 kg</td>
        	</tr>
        	<tr>
        		<th scope="row">Wheel Base</th>
        		<td>1970 mm</td>
        	</tr>
        	<tr>
        		<th scope="row">Overall Length</th>
        		<td>3410 mm</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Hydraulics</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Lift Capacity</th>
        		<td>1600 kg</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Tyre Size</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Front</th>
        		<td>6 X 16</td>
        	</tr>
        	<tr>
        		<th scope="row">Rear</th>
        		<td>13.6 X 28 </td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Additional Features</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Drive Type</th>
        		<td>2WD/4WD</td>
        	</tr>
        </tbody>
    </table>


  </div>	

</div>
  </div>
{% endblock %}