{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/JD/6120B/john-deere-6120b.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">John Deere 6120B</h2>
	    <h5 class="sub-head">120HP</h5>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹25,00,000 - ₹26,00,000</p>
	    <br>
	     <p class="side-heads"><b>PTO HP: </b></p>
	     <p>102.0HP</p>
	     <br>
	     <p class="side-heads"><b>Forward Gears:</b></p>
	     <p>12</p>
	     <br>
	     <p class="side-heads"><b>Reverse Gears:</b></p>
	     <p>4</p>
	     <br>
	     <p class="side-heads"><b>Steering Type:</b></p>
	     <p>Power Steering</p>
	     <br>
	     <p class="side-heads"><b>Brakes :</b></p>
	     <p>Oil Immersed Disc</p>
	     <br>
	     <p class="side-heads"><b>Lift Capacity :</b></p>
	     <p>3650 kg</p>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Engine</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">HP Category</th>
        		<td>120 HP</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Capacity</th>
        		<td>4000 cc</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Rated RPM</th>
        		<td>2400 RPM</td>
        	</tr>
        	<tr>
        		<th scope="row">No of Cylinder</th>
        		<td>4</td>
        	</tr>
        	<tr>
        		<th scope="row">Air Filter</th>
        		<td>Dual element with add-on pre-cleaner</td>
        	</tr>
        	<tr>
        		<th scope="row">Cooling System</th>
        		<td>Liquid Cooled</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Transmission</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Clutch type</th>
        		<td>Dual</td>
        	</tr>
        	<tr>
        		<th scope="row">Transmission type</th>
        		<td>Syncromesh</td>
        	</tr>
        	<tr>
        		<th scope="row">Speed min-max</th>
        		<td>3.1 – 30.9 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse speed min – max</th>
        		<td>6.0 – 31.9 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Forward Gears</th>
        		<td>12</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse Gears</th>
        		<td>4</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Brakes</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Brake Type</th>
        		<td>Oil Immersed Disc Brakes</td>
        	</tr>
        	<tr>
        		<th scope="row">Turning radius with brake</th>
        		<td>3604 mm</td>
        	</tr>
        	
        </tbody>
    </table>

     <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Steering</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Type</th>
        		<td>Power Steering</td>
        	</tr>
        	<tr>
        		<th scope="row">Steering Adjustment</th>
        		<td>YES</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Power Take OFF</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">PTO type</th>
        		<td>6 Spline/21 Spline</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO RPM</th>
        		<td>540,1000</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO POWER</th>
        		<td>102HP</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Fuel Tank</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Capacity</th>
        		<td>220 litres</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Dimension and Weight</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Weight</th>
        		<td>4,500 kg</td>
        	</tr>
        	<tr>
        		<th scope="row">Wheel Base</th>
        		<td>2,560 mm</td>
        	</tr>
        	<tr>
        		<th scope="row">Overall Length</th>
        		<td>4,410 mm</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Hydraulics</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Lift Capacity</th>
        		<td>3650 kg</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Tyre Size</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Front</th>
        		<td>14.9 X 24</td>
        	</tr>
        	<tr>
        		<th scope="row">Rear</th>
        		<td>18.4 X 38</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Additional Features</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Drive Type</th>
        		<td>4WD</td>
        	</tr>
        </tbody>
    </table>


  </div>	

</div>
  </div>
{% endblock %}