{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="contact" >
    	<img src="{% static 'Images/Contact_us.png' %}" class="abt-img">
    	<div class="contact-text">
    		<h2>Contact Us</h2>
    </div>  
</div>
<div class="getintouch">
	<div class="container">
	<div class="row">
		<div class="col-6">
			<div class="card cont-card">
				<div class=" card-header"> 
					<div class="avatar mx-auto">
						<img src="{% static 'Images/phone.png' %}" class="rounded-circle" alt='Telephone' style="width: 120px;height: 120px;">
					</div>
				</div>
				<div class="card-body text-center">
					<h4 class="card-title" style="padding-top: 50px; font-size: 25px;">Call Us</h4>
					<hr>
					<p>We provide 24*7 call support for you.Any queries, call us</p>
					<p>7995949007, 7995969007</p>
			</div>
		</div>
</div>
      <div class="col-6">
			<div class="card cont-card" >
				<div class=" card-header"> 
					<div class="avatar mx-auto">
						<img src="{% static 'Images/message.png' %}" class="rounded-circle" alt='Telephone' style="width: 120px;height: 120px;">
					</div>
				</div>
				<div class="card-body text-center">
					<h4 class="card-title" style="padding-top: 50px; font-size: 25px;">Mail Us</h4>
					<hr>
					<p>For any queries, business deals.Mail to us at</p>
					<p>contact@nanditractors.com</p>
			</div>
		</div>
</div>
</div>
<div class="row">
		<div class="col-6">
			<div class="card cont-card" >
				<div class=" card-header"> 
					<div class="avatar mx-auto">
						<img src="{% static 'Images/google-maps.png' %}" class="rounded-circle" alt='Telephone' style="width: 120px;height: 120px;">
					</div>
				</div>
				<div class="card-body text-center">
					<h4 class="card-title" style="padding-top: 50px; font-size: 25px;">Visit Us</h4>
					<hr>
					<p>Visit us to shake hands with us</p>
					<p>Hyderabad, Telangana</p>
			</div>
		</div>
</div>
      <div class="col-6">
			<div class="card cont-card" >
				<div class=" card-header"> 
					<div class="avatar mx-auto">
						<img src="{% static 'Images/connect.png' %}" class="rounded-circle" alt='Telephone' style="width: 120px;height: 120px;">
					</div>
				</div>
				<div class="card-body text-center">
					<h4 class="card-title" style="padding-top: 50px; font-size: 25px;">We are social</h4>
					<hr>
					<p>Connect and Get in touch with us</p>
					<div class="social">
						<a href=""><img src="{% static 'Images/facebook.png' %}"></a>
						<a href=""><img src="{% static 'Images/instagram.png' %}"></a>
						<a href=""><img src="{% static 'Images/linkedin.png' %}"></a>
					</div>
			</div>
		</div>
</div>
</div>

</div>
</div>


{% endblock %}