{% extends 'Nandi/base.html' %}

{% block pagecontent %}
  <div class="custenrol" >
  	<div class="container">
  		<h3 class="trachead" style="padding-bottom: 10px;">Nandi Tractors</h3>
  		<h4 class="trachead" style="padding-top: 5px;">Customer Enrollment Form</h4>
        {% if p.enrol_id is not NULL %}
        <div class="success">
           <h4 class="appid"> Your Enrollment ID is {{p.enrol_id}}</h4>
         </div>
       </div>
     </div>
        {% else %}
        <div class="col-9" style="margin-top:0px;margin-bottom: 30px;">
  		<div class="form-group">
        <form method="POST" action="{% url 'customenrol' %}">
        	{% csrf_token %}

        	{%if form.errors %}
        	   <p>Your form has errors....</p>
        	{% endif %}
        	
        	{{form.as_p}} 

        	<input type="submit" value="Submit" class="btn btn-warning" style="font-family: 'Spartan',sans-serif;margin-top: 20px;border-radius: 20px;padding-left: 15px;padding-right: 15px;padding-top: 10px;padding-bottom: 10px;"> 

        </form>
    </div>
    </div>
  	</div>
  </div>
{% endif %}
{% endblock %}