{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}

<div class="hero">
	<img  class="d-block w-100" src="{% static 'Images/massey.jpg' %}" >
	<div class="dealer-name">
    <h3 >MASSEY FERGUSON</h3>
    </div> 
</div>
<div class="mf">
	<div class="container">
    <div class="row"> 		
    	<div class="col-6" style="float: left;">
    		<div class="container mftxt">
      		<h4>Massey Ferguson</h4>
    		<p>A world-renowned premium brand which offers wide variety of tractors and equipments.Recognized for its experience, innovation and superior build quality, this eminent global tractor brand offers one of the most comprehensive and versatile range of agricultural and utility tractors in the industry.</p>
    		<p style="padding-top: 10px;">Nandi is associated with this premium brand which produces premium quality tractors and equipments.
    		Nandi would encourage you to choose Massey Ferguson brand for best prices and exciting offers.</p>
     	</div>
     </div>
    	<div class="col-6" style="float: right;">	
    		<img  class="d-block w-100" src="{% static 'Images/mf-tractor.png' %}">
    </div>
</div>
</div>
</div>

<div class="td">
      <div class="container td-cont">
      	<h4>Our Trusted Dealer</h4>
      	<div class="td-text">
      	<p class="td-heads"><b>Name: </b></p>
      	<p><b>Varalaxmi Motors</b></p>
      	<br>
        <p class="td-heads"><b>Dealer Name:</b></p>
        <p><b>Abhinav Kumar Reddy<b></p>
        <br>
        <p class="td-heads"><b>Area:</b></p>
        <p><b>Pargi, Shadnagar, Wanaparthy, Old Ranga Reddy, Mahabubnagar</b></p>
    </div>
    </div>
	</div>

{% endblock %}