{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
    <div class="farm-home">
    	<img src="{% static 'Images/farmhome2.png' %}" class="farm-home-img">
    </div>
    <div class="farm-concept">
    	<img src="{% static 'Images/crop-bg.png' %}" class="crop-bg-img">
    	<div class="farm-concept-text">
    		<h4>Nandi <span>Farming</span></h4>
    		<p>- A concept by <span>Nandi Tractors</span></p>
    		<div class="explain">
    		<p>Some have a regret that they are unable to farm in their own agricultural lands due to various reasons. For those, Nandi exclusively comes up with a solution.We will cultivate your land on few terms and conditions. Organic Farming is the current trend and It's the best and healthy way for humans and environment.So, Our first preference would be Organic Farming.</p>
    		<p>Excited? Give us a call. We will come to you to explain and verify few aspects whether your land has proper water resource and test the soil quality,etc.If you agree and invest, you need not look back. Our team will cultivate and you need not involve till the last phase in cultivation. We assure you to bring the best yield at the end.</p>
    		<p>Call us: 7995969007,7995949007</p>
    		<p>Mail us: contact@nanditractors.com</p>
    	    </div>
    	</div>
    </div>
{% endblock %}
