{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}

<div class="Msg">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="text">
			<h3>Coming Soon<span>...</span></h3>
			<p>We are collaborating with more dealers of <span>Swaraj</span> to make it more sophisticated for you.We are regretting for the inconvenience.We are working to bring the list for you as soon as possible.</p>
           </div>
       </div>
           <div class="col-6">
           	<img src="{% static 'Images/loading.png' %}">
           </div>
	</div>
</div>
</div>

{% endblock %}