{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
    <div class="custenrol" >
  	<div class="container">
       <button onclick="goBack()" class="btn btn-warning">&#8656</button>
      <script type="text/javascript">function goBack() {
  window.history.back();}</script>
  		<h3 class="trachead" style="padding-bottom: 10px;">Nandi Tractors</h3>
  		<h4 class="trachead" style="padding-top: 5px;">Enrolled Customers Status Check</h4>
  		
  		<form method="POST" >
  			{% csrf_token %}
  		<div class="form-group">
  			<label>Verification ID:</label>
  			<input type="text" class="form-control col-9" name="verification_id">
  		</div>
  		{% if messages %}
        {% for message in messages %}
        <p style="color: #ff5757">{{message}}</p>
        {% endfor %}
       {% endif %}
  		<div class="form-group">
  			<input type="submit" value="Submit" class="btn btn-warning" style="font-family: 'Spartan',sans-serif;margin-top: 20px;border-radius: 25px;padding-left: 15px;padding-right: 15px;padding-top: 10px;padding-bottom: 10px;"> 
  		</div>
  	</form>

     {% if match %}
     <h3 class="trachead">Used Tractor Details</h3>
     <div class="emp-details">
     <p><b>Verification ID:</b></p>
     <p>{{p.verification_id}}</p>
     <br>
     <p><b>Tractor Registration No:</b></p>
     <p>{{p.registration_no}}</p>
     <br>
     <p><b>Father Name:</b></p>
     <p>{{p.model_name}}</p>
     <br>
     <p><b>Mobile No:</b></p>
     <p>{{p.phone_no}}</p>
     <br>
     <p><b>Price quoted by Company:</b></p>
      <p>{{p.used_trac_price}}</p>
     </div>
     {% endif %}
</div>
</div>

{% endblock %}