 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Fert-spreaders/dsdssadsa-500x500.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">FieldKing Fertilizer Spreader</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 45,000 - ₹ 95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Landforce</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Fertilizer spreader</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Spreader</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Crop-Protection</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>20 & Above HP</p>
	     <br>
	 </div>
      </div>
  </div>
  
   <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="5" class="table-heading">Technical Specifications</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Model</th>
        		<td>FKFS-180</td>
                <td>FKFS-250</td>
                <td>FKFS-400</td>
                <td>FKFS-500</td>
        	</tr>
        	<tr>
        		<th scope="row">Capacity</th>
        		<td>180</td>
                <td>250</td>
                <td>400</td>
                <td>500</td>
        	</tr>
            <tr>
                <th scope="row">Transmission</th>
                <td>01:01</td>
                <td>01:01</td>
                <td>01:01</td>
                <td>01:01</td>
            </tr>
        	<tr>
        		<th scope="row">Weight(Approx) Kg</th>
        		<td>59/119</td>
                <td>56/123</td>
                <td>60/132</td>
                <td>63/139</td>
        	</tr>
        	<tr>
        		<th scope="row">Spreading width(ft)</th>
        		<td>26.5-46</td>
                <td>26.5-46</td>
                <td>26.5-46</td>
                <td>26.5-46</td>
        	</tr>
        	<tr>
        		<th scope="row">Tractor Power(HP)</th>
        		<td>20</td>
                <td>20</td>
                <td>20</td>
                <td>20</td>
        	</tr>
        	
        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}