 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Fert-spreaders/dsdssadsa-500x500.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Khedut Fertilizer Spreader</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 45,000 - ₹ 95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Khedut</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Fertilizer spreader</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Spreader</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Crop-Protection</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>18-35 HP</p>
	     <br>
	 </div>
      </div>
  </div>
  
   <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Technical Specifications</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Model</th>
        		<td>KAFS 500</td>
        	</tr>
        	<tr>
        		<th scope="row">Capacity(ltrs)</th>
        		<td>357</td>
        	</tr>
        	<tr>
        		<th scope="row">Transmission</th>
        		<td>1:1</td>
        	</tr>
        	<tr>
        		<th scope="row">Spreading width(mm)</th>
        		<td>8000-14000</td>
        	</tr>
        	<tr>
        		<th scope="row">Weight</th>
        		<td>63</td>
        	</tr>
        	<tr>
        		<th scope="row">Operation</th>
        		<td>Tractoro PTO Shaft</td>
        	</tr>
        	<tr>
        		<th scope="row">Mounted CAT</th>
        		<td>CTO 0</td>
        	</tr>
        	<tr>
        		<th scope="row">Tractor Power(HP)</th>
        		<td>18-35</td>
        	</tr>
        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}