 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Fert-spreaders/dsdssadsa-500x500.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Landforce Fertilizer Spreader</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 32,000 - ₹ 85,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Landforce</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Fertilizer spreader</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Spreader</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Crop-Protection</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>20-65 HP</p>
	     <br>
	 </div>
      </div>
  </div>
  
   <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="5" class="table-heading">Technical Specifications</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Model</th>
        		<td>LSP400</td>
                <td>LSP500</td>
                <td>LSRX1600</td>
                <td>LSRX1900</td>
        	</tr>
        	<tr>
        		<th scope="row">Capacity</th>
        		<td>350</td>
                <td>449</td>
                <td>1625</td>
                <td>1923</td>
        	</tr>
        	<tr>
        		<th scope="row">Weight(Approx) Kg</th>
        		<td>59</td>
                <td>63</td>
                <td>323</td>
                <td>375</td>
        	</tr>
        	<tr>
        		<th scope="row">Spreading width(ft)</th>
        		<td>26.5-46</td>
                <td>26.5-46</td>
                <td>40-80</td>
                <td>40-80</td>
        	</tr>
        	<tr>
        		<th scope="row">Minimum HP</th>
        		<td>20</td>
                <td>20</td>
                <td>65</td>
                <td>65</td>
        	</tr>
        	
        </tbody>
    </table>
</div>

</div>
</div>
{% endblock %}