{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Fert-spreaders/fertilizer-broadcaster-1.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Mahindra Fertilizer Spreader</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 45,000 - ₹ 95,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Mahindra</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Fertilizer spreader</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Spreader</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Crop-Protection</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>25 & More HP</p>
	     <br>
	 </div>
      </div>
  </div>
  <div class="desc">
  <h3 class="desc-head">Description</h3>
  <ul>
  	<li>Enables faster spreading of fertilizer and saves spreading time.</li>
  	<li>Preferred by majority of farmers as it has a simple operating mechanism and is easy to maintain.</li>
  	<li>Uniform distribution due to use of protection metering system ensuring complete protection.</li>
  	<li>Saves time, labour and fertilizers during operation as it covers more area in same time.</li>
  	<li>Replaces manual spreading and reduces consumption of fertilizers or seeds.</li>

  </ul>
</div>
</div>
</div>
{% endblock %}