{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Fert-spreaders/download.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Maschio Gasparado Furbo 500</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 30,000 - ₹ 1,15,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Maschio Gasparado</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Furbo 500</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Spreader</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Fertilizer</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>25-35 HP</p>
	     <br>
	 </div>
      </div>
  </div>
</div>
</div>
{% endblock %}