{% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Mahindra/mahindra-yuvo-475-di.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Mahindra YUVO 475 DI</h2>
	    <h5 class="sub-head">42HP</h5>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹ 6,00,000 - ₹ 6,30,000</p>
	    <br>
	     <p class="side-heads"><b>PTO HP: </b></p>
	     <p>38.5 HP</p>
	     <br>
	     <p class="side-heads"><b>Forward Gears:</b></p>
	     <p>12</p>
	     <br>
	     <p class="side-heads"><b>Reverse Gears:</b></p>
	     <p>3</p>
	     <br>
	     <p class="side-heads"><b>Steering Type:</b></p>
	     <p>Mechanical/ Power  Steering</p>
	     <br>
	     <p class="side-heads"><b>Brakes :</b></p>
	     <p>Oil Immersed</p>
	     <br>
	     <p class="side-heads"><b>Lift Capacity :</b></p>
	     <p>1500 kg</p>
	 </div>
      </div>
  </div>

  <div class="spec-table">
    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Engine</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">HP Category</th>
        		<td>42 HP</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Capacity</th>
        		<td>2979 cc</td>
        	</tr>
        	<tr>
        		<th scope="row">Engine Rated RPM</th>
        		<td>2000 rpm</td>
        	</tr>
        	<tr>
        		<th scope="row">No of Cylinder</th>
        		<td>4</td>
        	</tr>
        	<tr>
        		<th scope="row">Air Filter</th>
        		<td>Dry type 6”</td>
        	</tr>
        	<tr>
        		<th scope="row">Cooling System</th>
        		<td>Enhanced Fluid Cooled</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Transmission</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Clutch type</th>
        		<td>Single / Dual</td>
        	</tr>
        	<tr>
        		<th scope="row">Transmission type</th>
        		<td>Full constant mesh</td>
        	</tr>
        	<tr>
        		<th scope="row">Speed min-max</th>
        		<td>1.45 – 30.61 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse speed min – max</th>
        		<td>2.05 - 11.2 kmph</td>
        	</tr>
        	<tr>
        		<th scope="row">Forward Gears</th>
        		<td>12</td>
        	</tr>
        	<tr>
        		<th scope="row">Reverse Gears</th>
        		<td>3</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Brakes</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Brake Type</th>
        		<td>Oil Immersed Brakes</td>
        	</tr>
        	<tr>
        		<th scope="row">Turning radius with brake</th>
        		<td>NA</td>
        	</tr>
        	
        </tbody>
    </table>

     <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Steering</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Type</th>
        		<td>Mechanical / Power Steering</td>
        	</tr>
        	<tr>
        		<th scope="row">Steering Adjustment</th>
        		<td>NO</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Power Take OFF</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">PTO type</th>
        		<td>6 Spline</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO RPM</th>
        		<td>540</td>
        	</tr>
        	<tr>
        		<th scope="row">PTO POWER</th>
        		<td>39 HP</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Fuel Tank</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Capacity</th>
        		<td>60 litres</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Dimension and Weight</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Weight</th>
        		<td>2020 kg</td>
        	</tr>
        	<tr>
        		<th scope="row">Wheel Base</th>
        		<td>1925 mm</td>
        	</tr>
        	<tr>
        		<th scope="row">Overall Length</th>
        		<td>NA</td>
        	</tr>
        </tbody>
    </table>


    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Hydraulics</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Lift Capacity</th>
        		<td>1500 kg</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Tyre Size</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Front</th>
        		<td>6 X 16</td>
        	</tr>
        	<tr>
        		<th scope="row">Rear</th>
        		<td>13.6 X 28 / 14.9 X 28</td>
        	</tr>
        </tbody>
    </table>

    <table class="table">
    	<thead class="thead-dark">
    		<tr>
    			<th colspan="2" class="table-heading">Additional Features</th>
    		</tr>
    	</thead>
        <tbody>
        	<tr>
        		<th scope="row">Drive Type</th>
        		<td>2WD</td>
        	</tr>
        </tbody>
    </table>


  </div>	

</div>
  </div>
{% endblock %}