 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/power-harrow-500x500.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Agristar Power Harrow 615 PH</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹1,15,000-₹1,35,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Agristar</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Power Harrow 615 PH</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>55HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Primary tillage equipment.</li>

    <li>Strong, sturdy and toughest in the ploughing equipment category</li>

    <li>Best suited for hard and hard-clay soil conditions</li>

    <li>Can plough more depth, fine tilth and level in just one pass</li>

    <li>Can be used directly on barren land, making it feasible for cultivation, prior and after rains. </li>

    
  </ul>
</div> 

<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Modal Number</th>
            <td>615PH</td>
          </tr>
          <tr>
            <th scope="row">Number Of Rotors</th>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power Required </th>
            <td>ABOVE 55 hp</td>
          </tr>
          <tr>
            <th scope="row">Working Width</th>
            <td>1500 mm</td>
          </tr>
          <tr>
            <th scope="row">Approximate Weight</th>
            <td>545 kg</td>
          </tr>
          <tr>
            <th scope="row">PTO </th>
            <td>540 (RPM)</td>
          </tr>
          <tr>
            <th scope="row">Speed</th>
            <td>205-380</td>
          </tr>
          <tr>
            <th scope="row">Gearbox Type</th>
            <td>MULTI-SPEED</td>
          </tr>
          <tr>
            <th scope="row">Size</th>
            <td>1620 X 1025 X 900 mm</td>
          </tr>
         

        </tbody>
    </table>
</div>


 

 
  

  

</div>
</div>
{% endblock %}