 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/dabangg-harrow.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Dabangg Harrow</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹40,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Dabangg Harrow</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>30-45 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Across can be easily adjusted at the turn of the field to help cover the maximum area of ​​the drawbar.</li>

    <li>Used in open fields for surface plowing, freezing, soil preparation for sowing, burial of organic matter and residues.</li>

    <li>It can be easily transported in tractors using hydraulic lift system.</li>

    <li>48-52 High quality boron steel disc with HRC hardness </li>

    <li>Effectively break down large lumps due to the design and weight of the structural elements</li>

    <li>Improved lubrication and loading of spools for low load on the tractor.
</li>

    <li>High quality seals are used to prevent bearing & hub from soil & water ingress</li>
  </ul>
</div> 

  
<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="3" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model </th>
            <td>FKDMDH-12</td>
            <td>FKDMDH-14</td>
          </tr>
          <tr>
            <th scope="row">Gang Bolt / Axle </th>
            <td>28/1.1"(Solid Sq. Rod)</td>
            <td>28/1.1"(Solid Sq. Rod)</td>
          </tr>
          
          <tr>
            <th scope="row">No. of Disc </th>
            <td>12 </td>
            <td>14 </td>
          </tr>
          <tr>
            <th scope="row">Tillage Width (mm / inch Approx)</th>
            <td>1420/3179</td>
            <td>1635/3605 </td>
          </tr>
          <tr>
            <th scope="row">Weight (kg / lbs Approx)</th>
            <td>405/893</td>
            <td>435/995</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>30-35</td>
            <td>40-45</td>
          </tr>

        </tbody>
    </table>
</div>

  

</div>
</div>
{% endblock %}