 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/extra-heavy-duty-hydraulic-harrow.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Extra Heavy Duty Hydraulic Harrow</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹1,25,000-₹3,35,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking </p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Extra Heavy Duty Hydraulic</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>125-235HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Extra Heavy Duty Hydraulic Harrow Used in open field workings for the superficial ploughing, shattering of clods, preparation of soil for sowing, burial of organic substances & remains.</li>

    <li>It can be easily transported on the tyres using the hydraulic system.</li>

    <li>High quality boron steel disc with 48~52 HRC hardness</li>

    <li>Effectively break up heavy clods because of sturdy design and weight.
</li>

    <li>High quality seals are used to prevent the bearing & hub from mud & water entry</li>

    
  </ul>
</div> 



 

 
  

  

</div>
</div>
{% endblock %}