 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/power-harrow.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Power Harrow</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹82,000-₹1,75,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Power Harrow</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>40-125 HP</p>
	     <br>
	 </div>
      </div>
  </div>


 <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Power Harrow is used to turn, break, refine and even distribution of soil over the entire working width to create a perfect seed bed. It breaks up even the            most   compacted ground, often in single pass for preparing an area for plantation.
</li>

    <li>  Power Harrow consists of multiple set of blades which counter-rotate about a vertical axis, which leaves the soil with a softer look and granulated yet leveled      appearance, as required for sowing seeds or seedlings</li>

    <li>Rotors run on ball bearings for high power application.</li>

    <li>Protection shield for upper rotor bearing eliminates possible damage to main transmission.
</li>

    <li>Self-adjustable side stone deflector is provided for safety by not allowing the stones to scatter. </li>
    
  </ul>
</div>

  



  

</div>
</div>
{% endblock %}