 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/tandem-disc-harrow-medium-duty-USA.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Tandem Disc Harrow Medium Duty</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹65,000-₹1,35,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Tandem Disc Harrow Medium Duty</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>25-50HP</p>
	     <br>
	 </div>
      </div>
  </div>

  

<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model </th>
            <td>FKTDHMS-12</td>
            <td>FKTDHMS-16</td>
            <td>FKTDHMS-20</td>
          </tr>
          <tr>
            <th scope="row">Gang Bolt / Axle </th>
            <td colspan="3">25/1" (Solid Sq. Rod)</td>
            
          </tr>
          
          <tr>
            <th scope="row">No. of Disc </th>
            <td>12 </td>
            <td>16 </td>
            <td>20</td>
          </tr>
          <tr>
            <th scope="row">Tillage Width (mm / inch Approx)</th>
            <td>1415/56"</td>
            <td>1848/73"</td>
            <td>2280/90"</td>
          </tr>
          <tr>
            <th scope="row">Weight (kg / lbs Approx)</th>
            <td>300/662</td>
            <td>385/849</td>
            <td>440/970</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>25-30</td>
            <td>35-40</td>
            <td>45-50</td>
          </tr>

        </tbody>
    </table>
</div>


 

 
  

  

</div>
</div>
{% endblock %}