 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/up-model-disc-harrow.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking UP Model Disc Harrow</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹36,000-₹68,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>UP Model Disc Harrow</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>40-50 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>High quality steel discs. </li>

    <li>It can be used in light and medium soil.</li>

    <li>To air the soil and to eliminate the weeds.</li>

    <li>Maintenance is easy but needs to be scheduled</li>

    <li>Easily transportable – as it gets easily attached and mounted </li>

    <li>Used in open field workings for the superficial ploughing, for the shattering of clods, preparation of soil for sowing, burial of organic substances & remains.</li>

    <li>It has low purchasing and utilization costs both for its wide working width, and for its high speed (from 7 to 15 km/hour).</li>

 
  </ul>
</div> 

<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="3" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model </th>
            <td>FKUPMH-12</td>
            <td>FKUPMH-14</td>
          </tr>
          <tr>
            <th scope="row">Gang Bolt / Axle </th>
            <td colspan="2">'C' Class Heavy Duty ERW Tube</td>
            
          </tr>
          
          <tr>
            <th scope="row">No. of Disc </th>
            <td>12 </td>
            <td>14 </td>
          </tr>
          <tr>
            <th scope="row">Tillage Width (mm / inch Approx)</th>
            <td>1420/56"</td>
            <td>1635/64"</td>
          </tr>
          <tr>
            <th scope="row">Weight (kg / lbs Approx)</th>
            <td>390/860</td>
            <td>420/926</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>40-45</td>
            <td>45-50</td>
          </tr>

        </tbody>
    </table>
</div>



  

  

</div>
</div>
{% endblock %}