 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/ultra-series-heavy-duty-hydraulic-harrow.png'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Fieldking Ultra Series Heavy Duty Hydraulic Harrow</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹1,45,000-₹2,55,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Fieldking</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Ultra Series Heavy Duty Hydraulic Harrow</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>120-235 HP</p>
	     <br>
	 </div>
      </div>
  </div>


 <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Ultra Series Heavy Duty Hydraulic Harrow  Used in open field working for the superficial ploughing, shattering of clods, preparation of soil for sowing, burial of organic substances & remains.

</li>

    <li> It can be easily transported on the tyres using the hydraulic system.
</li>

    <li>High quality boron steel disc with 48~52 HRC hardness.</li>

    <li>Effectively breaks up heavy clods because of sturdy design and weight.

</li>

    <li>Bearing spools for better lubrication and less load on tractor </li>

    <li>Ultra series hydraulic harrow comes with optional accessories i.e. dead weight & crumbler.
</li>
    
  </ul>
</div>

  



  

</div>
</div>
{% endblock %}