 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/mounted-off-set-cum-trailed-disc-harrow-34-1590134871.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Khedut Mounted Off Set Cum Trailed Disc Harrow</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹55,000-₹80,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Khedut</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Mounted Off Set Cum Trailed Disc Harrow</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>55-125 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  

<div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Used in open field workings for the superficial ploughing, for the shattering of clods, preparation of soil for sowing, burial of organic substances & remains.</li>

    <li>To air the soil and to eliminate the weeds</li>

    <li> For breaking the roots.</li>

    <li>It can be used in light and medium soil</li>

    <li>High quality steel discs.</li>
    
  </ul>
</div>

<div class="spec-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="6" class="table-heading">Technical Specifications</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">Model </th>
            <td>KAMOCTDH 16 </td>
            <td>KAMOCTDH 18</td>
            <td>KAMOCTDH 20</td>
            <td>KAMOCTDH 22</td>
            <td>KAMOCTDH 24</td>
          </tr>
          <tr>
            <th scope="row"> Axle </th>
            <td colspan="5">28 / 40 (Solid Sq. Rod)</td>
            
          </tr>
          
         
          <tr>
            <th scope="row">Working Width (mm )</th>
            <td>2100</td>
            <td>2300</td>
            <td>2500</td>
            <td>2700</td>
            <td>3100</td>
          </tr>
          <tr>
            <th scope="row">Weight </th>
            <td>860</td>
            <td>980</td>
            <td>1050</td>
            <td>1120</td>
            <td>1190</td>
          </tr>
          <tr>
            <th scope="row">Tractor Power (HP)</th>
            <td>55-75</td>
            <td colspan="3">75-95</td>
            <td>95-125</td>
          </tr>

        </tbody>
    </table>
</div>


 
  

  

</div>
</div>
{% endblock %}