 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/offset-disc-harrow.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Mahindra Disc Harrow</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹65,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Mahindra</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Disc Harrow</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Land Preparation</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>35-55 HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>Front discs have notches to cut any residual weed coming into the passage.</li>

    <li>Available with different disc sizes to suit the HP of tractor</li>

    <li>Scrappers are provided so that stuck material can be automatically removed, this keeps the load on tractor in check and gives better fuel efficiency.</li>

    <li>Ensures effective cutting and mixing of stubbles and weeds with better mixing of manure </li>

    <li>Crushes the clods into fine particles i.e. better tilth as compared to standard cultivator </li>

    <li>Effective for puddling due to better churning of soil and less slippage as compared to cultivator.</li>

 
  </ul>
</div> 

  

  

</div>
</div>
{% endblock %}