 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/Power-Harrow-E-120.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Shaktiman Power Harrow Regular</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹1,35,000-₹1,55,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Shaktiman</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Power Harrow Regular</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>55-115 HP</p>
	     <br>
	 </div>
      </div>
  </div>

 

 <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li>SHAKTIMAN Power Harrow is suitable for the crops which require deeper tillage like Potato and tuber crops</li>

    <li>Its boron steel long blades help achieve deep tillage in any type of soil.</li>

    <li>It reduces the number of tillage operations reducing a number of passes, thus help in reducing compaction of the soil.</li>

    <li>It comes with the option of multispeed to adjust speed as per the customer’s requirements.</li>

    <li>The leveling bar is a standard feature and accessories consist of three types of Rollers: Packer Roller, Spike roller & Cage Roller </li>

    <li>Its long and sharp blades can easily plough any land and achieve tillage depth up to 10 inches</li>

    <li>Its sturdy structure is welded with high thickness plates which make sure that it operates under toughest conditions.</li>

    <li>Its Gear Box designed with quality components promises longer life cycle of the implement</li>

    <li>It ensures faster operation and completes function in less time reducing fuel consumption and soil compaction</li>

 
  </ul>
</div> 

  

  

</div>
</div>
{% endblock %}