 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/download (2).jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Shaktiman Power Harrow M-160</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹92,000-₹1,85,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Shaktiman</p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Power Harrow M-160</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>89-170 HP</p>
	     <br>
	 </div>
      </div>
  </div>


 <div class="desc">
  <h3 class="desc-head">Description</h3>

<ul>
  <li>The power harrow M-160 model has been designed for operations of soil refining and seedbad preparation, following a primary soil preparation.</li>

  <li>The machine allows an optimal job of levelling and finishing of the seedbed with an high capacity to generate refined soil homogeneously distributed throughout a consistent working depth, and to make an important reconsolidation of the soil under the seeds.</li>

 

  
    <li>Heavy duty top mast 3-point hitch – Category 2 and 3.

</li>

    <li>Tie rods reinforcement connecting the frame to the 3-point mast
</li>

    <li>Heavy duty gear-trough, manufactured with special steel. High thickness of trough
(8mm) and cover (5mm)</li>

    <li>Displacement of the tine rotors at optimized angles, allowing the power harrow to dig gradually into the soil, reducing the vibrations and resulting in smoother operation and less tractor fuel consumption</li>

    <li>Bearing spools for better lubrication and less load on tractor </li>

    <li>Ultra series hydraulic harrow comes with optional accessories i.e. dead weight & crumbler.
</li>
    
  </ul>
</div>

  



  

</div>
</div>
{% endblock %}