 {% extends 'Nandi/base.html' %}
{% load static %}

{% block pagecontent %}
<div class="spcfs">
  <div class="container">
  	<div class="row">
  		<div class="col-6">
  			<img src="{% static 'Images/Imps/Harrows/Power-Harrow-E-120.jpg'  %}">
  		</div>
  		<div class="col-6" style="padding-left: 30px">
	    <h2 class="head">Shaktiman Power Harrow E 120</h2>
	    <div class="specs">
	    <p class="side-heads"><b>Price: </b></p>
	    <p>₹1,15,000-₹1,35,000</p>
	    <br>
	     <p class="side-heads"><b>Brand: </b></p>
	     <p>Shaktiman </p>
	     <br>
	     <p class="side-heads"><b>Model Name:</b></p>
	     <p>Power Harrow E 120</p>
	     <br>
	     <p class="side-heads"><b>Implement Type:</b></p>
	     <p>Harrow</p>
	     <br>
	     <p class="side-heads"><b>Category:</b></p>
	     <p>Tillage</p>
	     <br>
	     <p class="side-heads"><b>Implement Power :</b></p>
	     <p>100-140HP</p>
	     <br>
	 </div>
      </div>
  </div>

  <div class="desc">
  <h3 class="desc-head">Description</h3>
 

  <ul>
    <li> Blades with 12 mm/0.47 inch thickness and 285 mm/11.22 inch length made of boron steel material</li>

    <li> Multi speed gearbox for 540 & 1000 RPM PTO</li>

    <li>Swinging brackets</li>

    <li>Universal joint power transmission shaft with clutch
</li>

    <li>Rear leveling bar with screw adjustment</li>

    <li>Track Eradicator</li>

    
  </ul>
</div> 



 
  

  

</div>
</div>
{% endblock %}